<launch>

  <arg name="model" default="$(find zad4)/urdf/model.urdf.xacro"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find zad4)/rviz/display.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  <node pkg="rostopic" type="rostopic" name="rostopic" args="pub joint_states sensor_msgs/JointState -- '[0, now, base_link]' '[joint1, joint2, joint3]' '[0.0,0.0,0.0]' '[]' '[]'"/>

</launch>
